table
  thead
    tr(style="font-size: 60%")
      th
      th Operator
      th Assoc.
  tbody
    tr
      td(style="font-size: 60%") 3
      td
        :code(subtle)
          +a   -a
      td &larr;
    tr
      td(style="font-size: 60%") 5
      td
        :code(subtle)
          a*b   a/b   a%b
      td &rarr;
    tr
      td(style="font-size: 60%") 6
      td
        :code(subtle)
          a+b   a-b
      td &rarr;
    tr
      td(style="font-size: 60%") 10
      td
        :code(subtle)
          ==   !=
      td &rarr;
    tr
      td(style="font-size: 60%") 16
      td
        :code(subtle)
          =
          +=   -=
          *=   /=   %=
      td &larr;
